<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/sigbase/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.SQLException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>src.filtro.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>
        <filter-name>AuthenticationIpFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>-->
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>src.filtro.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TimerFilter</filter-name>
        <filter-class>src.filtro.TimerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TimerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/LoginSig</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /opt/tomcat/apache-tomcat-8.0.30/temp/
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>src.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calendario</servlet-name>
        <servlet-class>src.bqs.agenda.Calendario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadAluno</servlet-name>
        <servlet-class>src.bqs.aluno.CadAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAluno</servlet-name>
        <servlet-class>src.bqs.aluno.ListAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibeAluno</servlet-name>
        <servlet-class>src.bqs.aluno.ExibeAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelAluno</servlet-name>
        <servlet-class>src.bqs.aluno.DelAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttAluno</servlet-name>
        <servlet-class>src.bqs.aluno.AttAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadAgenda</servlet-name>
        <servlet-class>src.bqs.agenda.CadAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAgenda</servlet-name>
        <servlet-class>src.bqs.agenda.ListAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelAgenda</servlet-name>
        <servlet-class>src.bqs.agenda.DelAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disciplina</servlet-name>
        <servlet-class>src.bqs.questao.Disciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assunto</servlet-name>
        <servlet-class>src.bqs.questao.Assunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttDisciplina</servlet-name>
        <servlet-class>src.bqs.questao.AttDisciplina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttAssunto</servlet-name>
        <servlet-class>src.bqs.questao.AttAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadQuestao</servlet-name>
        <servlet-class>src.bqs.questao.CadQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListQuestao</servlet-name>
        <servlet-class>src.bqs.questao.ListQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Simulado</servlet-name>
        <servlet-class>src.bqs.simulado.Simulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarSimulado</servlet-name>
        <servlet-class>src.bqs.simulado.GerarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeraQuestao</servlet-name>
        <servlet-class>src.bqs.questao.GeraQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadSimulado</servlet-name>
        <servlet-class>src.bqs.simulado.CadSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadResultado</servlet-name>
        <servlet-class>src.bqs.simulado.CadResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaAluno</servlet-name>
        <servlet-class>src.bqs.aluno.BuscaAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndicadorDisciplina</servlet-name>
        <servlet-class>src.bqs.indicador.IndicadorDisciplina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendario</servlet-name>
        <url-pattern>/bqs/Calendario.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadAluno</servlet-name>
        <url-pattern>/bqs/aluno/CadAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAluno</servlet-name>
        <url-pattern>/bqs/aluno/ListAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibeAluno</servlet-name>
        <url-pattern>/bqs/aluno/ExibeAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelAluno</servlet-name>
        <url-pattern>/bqs/aluno/DelAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttAluno</servlet-name>
        <url-pattern>/bqs/aluno/AttAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadAgenda</servlet-name>
        <url-pattern>/bqs/agenda/CadAgenda.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAgenda</servlet-name>
        <url-pattern>/bqs/agenda/ListAgenda.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelAgenda</servlet-name>
        <url-pattern>/bqs/agenda/DelAgenda.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disciplina</servlet-name>
        <url-pattern>/bqs/questao/Disciplina.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assunto</servlet-name>
        <url-pattern>/bqs/questao/Assunto.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttDisciplina</servlet-name>
        <url-pattern>/bqs/questao/AttDisciplina.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttAssunto</servlet-name>
        <url-pattern>/bqs/questao/AttAssunto.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadQuestao</servlet-name>
        <url-pattern>/bqs/questao/CadQuestao.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuestao</servlet-name>
        <url-pattern>/bqs/questao/ListQuestao.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Simulado</servlet-name>
        <url-pattern>/bqs/simulado/Simulado.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarSimulado</servlet-name>
        <url-pattern>/bqs/simulado/GerarSimulado.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeraQuestao</servlet-name>
        <url-pattern>/bqs/GeraQuestao.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadSimulado</servlet-name>
        <url-pattern>/bqs/simulado/CadSimulado.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadResultado</servlet-name>
        <url-pattern>/bqs/simulado/CadResultado.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaAluno</servlet-name>
        <url-pattern>/bqs/aluno/BuscaAluno.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndicadorDisciplina</servlet-name>
        <url-pattern>/bqs/indicador/IndicadorDisciplina.jsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
